@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Yusei+Magic&display=swap');

:root {
    --light-color: #ffffff;
    --dark-color: #000000;
    --main-color: #f3cc00;
    --bg-gray: #FFFFFF33;
    --dark-gray: #333333;
    --light-gray: rgba(51, 51, 51, 0.5);
}
/*-------------------------------- Base -------------------------------*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    font-weight: inherit;
    font-size: inherit;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--light-color);
}
.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 16px;
}
/*--------------------------- Header, Page, Footer --------------------------*/
.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}
.page {
    flex: 1 1 auto;
}
.page__main,
.page__about,
.page__team,
.page__book,
.page__specialties,
.page__menu,
.page__events,
.page__contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page__gallery {}

.page__map {}
.footer {
    padding: 44px 0;
    background-color: var(--dark-color);
    opacity: 90%;
}

/*-------------------------------- General -------------------------------*/
.note {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 4px;
}
.line {
    width: 60px;
    height: 5px;
    border-radius: 50px;
    background-color: var(--main-color);
    margin: 15px 0;
}
.section-title {
    font-family: "Yusei Magic", serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}
.border {
    width: 250px;
    height: 250px;
    border: 20px solid var(--main-color);
    border-radius: 5px;
}
.center-line {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: var(--bg-gray);
}
/*-------------------------------- Header -------------------------------*/
.header__container {
    height: 100%;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.nav {
}
.nav__list {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.nav__list::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: var(--bg-gray);
}
.nav__item {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
.nav__link {
    color: var(--light-color);
}
.nav__item:after {
    position: absolute;
    content: "";
    height: 1px;
    left: 0;
    bottom: -4px;
    width: 0;
    background: var(--main-color);
    transition: width 0.5s;
}
.nav__item:hover:after {
    width: 99%;
}
.nav__logo {
    padding-top: 35px;
}
.nav__logo-link {

}
.nav__logo-img {
    width: 120px;
    height: 120px;
}

/*-------------------------------- Main Section -------------------------------*/

.main {
    padding-top: 100px;
    background: url("../images/main-background.jpg") 0 0/cover no-repeat;
}
.main::before,
.main::after {
    content: "";
    position: absolute;
    top: 100px;
    height: 100%;
    width: 1px;
    background-color: var(--bg-gray);
}
.main::before {
    left: 20%;
}
.main::after {
    right: 20%;
}
.main__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main__schedule {
    flex-basis: 10%;
}
.main__schedule-text {
    margin: 0 auto;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    text-align: center;
    font-weight: 600;
    font-size: 12px;
}
.main__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 80%;
}
.main__note {}
.main__title {
    font-family: "Yusei Magic", serif;
    font-size: 96px;
}
.main__line {
    margin-bottom: 40px;
}
.main__buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}
.main__button {
    width: 200px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .5s;
}
.main__button:hover {
    background-color: transparent;
}
.main__arrow {
    position: relative;
    margin-top: 50px;
    width: 60px;
    height: 60px;
    border: var(--bg-gray) 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .5s;
}
.main__arrow:hover {
    background-color: var(--bg-gray);
}
.main__arrow::before,
.main__arrow::after {
    position: absolute;
    left: 50%;
    content: "";
    width: 1px;
    background-color: var(--bg-gray);
}
.main__arrow::before {
    top: -400px;
    height: 400px;
}
.main__arrow::after {
    bottom: -110px;
    height: 110px;
}

.main__arrow-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.main__arrow-icon {
    width: 20px;
    height: 20px;
    fill: var(--dark-color);
    background-color: var(--light-color);
    border-radius: 50%;
    padding: 4px;
}
.main__links {
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -15px 0;
}
.main__link {
    width: 60px;
    height: 60px;
    margin: 15px 0;
    border: var(--bg-gray) 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .5s;
}
.main__link:hover {
    background-color: var(--bg-gray);
}
.main__link-icon {
    width: 20px;
    height: 20px;
    fill: var(--light-color);
}

/*-------------------------------- About Section -------------------------------*/

.about {}
.about__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 40px;
}
.about__text-block {
    flex-basis: 50%;
    padding: 0 15px;
    text-align: center;
    color: var(--dark-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__title {

}
.about__line {}
.about__subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.about__text {}
.about__photo-block {
    flex-basis: 50%;
    position: relative;
}
.about__photo {
    width: 475px;
    height: 475px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.about__border {
    position: absolute;
    right: 0;
    top: 113px;
}

/*-------------------------------- Team Section -------------------------------*/
.team {
    position: relative;
    background: url("../images/team-background.jpg") 0 0/cover no-repeat;
}
.team::before,
.team::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: var(--bg-gray);
}
.team::before {
    left: 20%;
}
.team::after {
    right: 20%;
}
.team__note {
    text-align: center;
    margin-bottom: 50px;
}
.team__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 40px;
}
.team__photo-block {
    flex-basis: 50%;
    position: relative;
}
.team__photo {
    margin-left: 125px;
    width: 475px;
    height: 475px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.team__border {
    position: absolute;
    left: 0;
    top: 113px;
}
.team__text-block {
    flex-basis: 50%;
    padding: 0 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team__title {

}
.team__line {}
.team__subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.team__text {}
/*-------------------------------- Book Section -------------------------------*/

.book {}
.book__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 40px;
}
.book__form-block {
    flex-basis: 50%;
    text-align: center;
    color: var(--dark-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book__title {}
.book__line {}

.book__form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.book__input {
    background: #E5E5E5;
    border-radius: 5px;
    height: 60px;
    padding: 0 20px;
    font-size: 14px;
    color: var(--light-gray);
    width: 100%;
    box-sizing: border-box;
}
.book__input:focus {
    outline: 2px solid var(--main-color);
    background-color: #f9f9f9;
}
.book__button {
    grid-column: span 2;
    height: 60px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity .5s;
}
.book__button:hover {
    opacity: 90%;
}
.book__message {
    margin-top: 10px;
    text-align: center;
    font-style: italic;
    display: none;
    color: var(--dark-gray);
}
.book__photo-block {
    flex-basis: 50%;
    position: relative;
}
.book__photo {
    width: 475px;
    height: 475px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.book__border {
    position: absolute;
    right: 0;
    top: 113px;
}
.book__more-info-block {
    margin-top: 50px;
}
.book__more-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-gray);
}
/*-------------------------------- Specialties Section -------------------------------*/
.specialties {
    position: relative;
    background: url("../images/specialties-background.jpg") 0 0/cover no-repeat;
}
.specialties::before,
.specialties::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: var(--bg-gray);
}
.specialties::before {
    left: 20%;
}
.specialties::after {
    right: 20%;
}
.specialties__note {
    text-align: center;
    margin-bottom: 50px;
}
.specialties__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 40px;
}
.specialties__photo-block {
    flex-basis: 50%;
    position: relative;
}
.specialties__photo {
    margin-left: 125px;
    width: 475px;
    height: 475px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.specialties__border {
    position: absolute;
    left: 0;
    top: 113px;
}
.specialties__text-block {
    flex-basis: 50%;
    padding: 0 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.specialties__title {

}
.specialties__line {}
.specialties__subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.specialties__text {}
.specialties__slider {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}
/*-------------------------------- Menu Section -------------------------------*/

.menu {}
.menu__container {
    display: flex;
    flex-direction: column;
    color: var(--dark-color);
    align-items: center;
}
.menu__title {}
.menu__line {}
.menu__subtitle {
    width: 55%;
    font-size: 18px;
    font-weight: bold;
    margin: 10px auto;
    text-align: center;
}
.menu__nav {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 50px 0;
}
.menu__nav-item {
    color: var(--dark-gray);
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color .5s;
}
.menu__nav-item:not(:last-child) {
   padding-right: 30px;
   border-right: solid 1px var(--light-gray);
}
.menu__nav-item:not(:first-child) {
    padding-left: 30px;
}
.menu__nav-item:hover {
    color: var(--main-color);
}
.menu__nav-item.active {
    color: var(--main-color);
}
.menu__list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 70px;
    justify-items: stretch;
}
.menu__item {}
.menu__main-info {
    display: flex;
    justify-content: space-between;
    font-family: "Yusei Magic", serif;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--dark-gray);
}
.menu__title {}
.menu__price {}
.menu__description {
    color: var(--light-gray);
    font-size: 12px;
}
/*-------------------------------- Events Section -------------------------------*/

.events {
    position: relative;
    background: url("../images/events-background.jpg") 0 0/cover no-repeat;
}
.events::before,
.events::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: var(--bg-gray);
}
.events::before {
    left: 20%;
}
.events::after {
    right: 20%;
}
.events__note {
    text-align: center;
    margin-bottom: 50px;
}
.events__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 40px;
}
.events__photo-block {
    flex-basis: 50%;
    position: relative;
    z-index: 1;
}

.wedding__photo,
.corporate__photo {
    width: 475px;
    height: 475px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.wedding__photo {
    margin-left: 125px;
}
.wedding__border {
    position: absolute;
    left: 0;
    top: 113px;
}
.corporate__border {
    position: absolute;
    right: 0;
    top: 113px;
}

.wedding__title,
.corporate__title {
    background-color: var(--dark-color);
    width: 80px;
    height: 475px;
    writing-mode: vertical-lr;
    font-family: "Yusei Magic", serif;
    font-size: 24px;
    color: var(--light-color);
    display: flex;
    align-items: center;
    padding-top: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.wedding__title {
    position: absolute;
    right: 0;
    top: 0;
}
.corporate__title {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-180deg);
}
.events__more-info-block {
    margin-top: 50px;
}
.events__more-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-gray);
}

/*-------------------------------- Gallery Section -------------------------------*/
.gallery {
    display: flex;
    justify-content: space-between;
    height: 360px;
}
.gallery__photo-block {
    flex-basis: 25%;
}
.gallery__photo {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: opacity .2s;
}
.gallery__photo:hover {
    opacity: 0.9;
}
.gallery__modal {}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}
.modal__content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__image {
    width: 475px;
}
.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
.modal__close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: all 0.3s;
}
.modal__close:hover,
.modal__close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 700px){
    .modal__content {
        width: 100%;
    }
}
/*-------------------------------- Contact Section -------------------------------*/
.contact {}
.contact__container {
    display: flex;
    flex-direction: column;
    color: var(--dark-color);
    align-items: center;
}
.contact__title {}
.contact__line {}
.contact__subtitle {
    width: 55%;
    font-size: 18px;
    font-weight: bold;
    margin: 10px auto;
    text-align: center;
}
.contact__form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "inputs inputs"
        "textarea textarea"
        "items button";
    gap: 10px 20px;
}
.contact__inputs {
    grid-area: inputs;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.contact__input {
    background: #E5E5E5;
    border-radius: 5px;
    height: 60px;
    padding: 0 20px;
    font-size: 14px;
    color: var(--light-gray);
    width: 100%;
    box-sizing: border-box;
}
.contact__textarea {
    background: #E5E5E5;
    border-radius: 5px;
    height: 120px;
    padding: 20px;
    font-size: 14px;
    color: var(--light-gray);
    width: 100%;
    box-sizing: border-box;
}
.contact__textarea {
    grid-area: textarea;
    resize: none;
}
.contact__input:focus,
.contact__textarea:focus {
    outline: 2px solid var(--main-color);
    background-color: #f9f9f9;
}
.contact__items {
    grid-area: items;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact__icon {
    width: 20px;
    height: 20px;
    fill: var(--main-color);
    margin-right: 10px;
}
.contact__link {
    font-size: 12px;
    color: var(--light-gray);
    font-weight: bold;
}
.contact__button {
    grid-area: button;
    height: 60px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: opacity .5s;
}
.contact__button:hover {
    opacity: 90%;
}
/*-------------------------------- Map Section -------------------------------*/
.map {
    height: 475px;
}
/*-------------------------------- Footer -------------------------------*/
.footer__container {
}
.footer__copyright {
    text-align: center;
    font-size: 12px;
    color: var(--bg-gray);
}
.footer__copyright .bold {
    font-weight: bold;
}