@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Yusei+Magic&display=swap');

:root {
    --light-color: #ffffff;
    --dark-color: #000000;
    --main-color: rgb(243, 204, 0);
    --bg-gray: #FFFFFF33;
    --dark-gray: #333333;
    --light-gray: rgba(51, 51, 51, 0.5);
}
/*-------------------------------- Base -------------------------------*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    font-weight: inherit;
    font-size: inherit;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--light-color);
    scroll-behavior: smooth;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

[class*="__container"] {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
}

@media screen and (max-width: 1280px) {
    [class*="__container"] {
        max-width: 1130px;
    }
}
@media screen and (max-width: 1024px) {
    [class*="__container"] {
        max-width: 824px;
    }
}
@media screen and (max-width: 824px) {
    [class*="__container"] {
        max-width: 724px;
    }
}
@media screen and (max-width: 768px) {
    [class*="__container"] {
        max-width: none;
    }
}
/*--------------------------- Header, Page, Footer --------------------------*/
.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}
.page {
    flex: 1 1 auto;
}
.page__main,
.page__about,
.page__team,
.page__book,
.page__specialties,
.page__events {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1024px) {
    .page__main,
    .page__about,
    .page__team,
    .page__book,
    .page__specialties,
    .page__events {
        min-height: 0;
    }
}
.page__menu {
    min-height: 100vh;
    padding: 100px 0 75px 0;
}
@media screen and (max-width: 1024px) {
    .page__menu {
        min-height: 0;
    }
}
.page__gallery {}
.page__contact {}
.page__map {}
.footer {
    padding: 44px 0;
    background-color: var(--dark-color);
    opacity: 90%;
}
@media screen and (max-width: 768px) {
    .footer {
        padding: 30px 0;
    }
}
/*-------------------------------- General -------------------------------*/
.note {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 4px;
}
@media screen and (max-width: 480px) {
    .note {
        font-size: 10px;
    }
}
.line {
    width: 60px;
    height: 5px;
    border-radius: 50px;
    background-color: var(--main-color);
    margin: 15px 0;
}
@media screen and (max-width: 480px) {
    .line {
        margin: 10px 0;
    }
}
.section-title {
    text-align: center;
    font-family: "Yusei Magic", serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}
@media screen and (max-width: 768px) {
    .section-title {
        font-size: 30px;
    }
}
.image {
    max-width: 80%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
@media screen and (max-width: 768px) {
    .image {
        max-width: 50%;
    }
}
@media screen and (max-width: 480px) {
    .image {
        max-width: 100%;
    }
}
.border {
    width: 40%;
    height: 50%;
    border: 20px solid var(--main-color);
    border-radius: 5px;
    position: absolute;
    top: 25%;
}
@media screen and (max-width: 768px) {
    .border {
        width: 25%;
    }
}
@media screen and (max-width: 480px) {
    .border {
        display: none;
    }
}
.center-line {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: var(--bg-gray);
}
@media screen and (max-width: 768px) {
    .center-line {
        display: none;
    }
}
/*-------------------------------- Header -------------------------------*/
.header__container {
    height: 100%;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header__list {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.header__list::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: var(--bg-gray);
}
.header__item {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
.header__link {
    color: var(--light-color);
}
.header__item:after {
    position: absolute;
    content: "";
    height: 1px;
    left: 0;
    bottom: -4px;
    width: 0;
    background: var(--main-color);
    transition: width 0.5s;
}
.header__item:hover:after {
    width: 99%;
}
.header__logo {
    padding-top: 35px;
}
.header__logo img {
    width: 100px;
    height: 100px;
}
.header__burger {
    position: absolute;
    top: 15px;
    right: 15px;
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin: -3px 0;
}
@media screen and (max-width: 768px) {
    .header__burger {
        display: flex;
        z-index: 2;
    }
}
.header__bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 3px 0;
    background-color: var(--light-color);
    transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
    .header__burger.active .header__bar:nth-child(1) {
        transform: translateY(8.5px) rotate(45deg);
    }
    .header__burger.active .header__bar:nth-child(2) {
        opacity: 0;
    }
    .header__burger.active .header__bar:nth-child(3) {
        transform: translateY(-8.5px) rotate(-45deg);
    }
    .header__nav {
        position: fixed;
        right: -100%;
        top: 0;
        flex-direction: column;
        justify-content: flex-start;
        background-color: var(--dark-gray);
        width: 40%;
        min-height: 0;
        height: auto;
        padding: 25px 0;
        transition: 0.3s;
        z-index: 1;
    }
    .header__nav.active {
        right: 0;
    }
    .header__list {
        flex-direction: column;
        justify-content: center;
        margin: -10px 0;
        height: auto;
    }
    .header__list::after {
        display: none;
    }
    .header__item {
        margin: 10px 0;
    }
    .header__logo {
        padding: 0;
        margin: 15px 0;
    }
    .header__logo img {
        width: 80px;
        height: 80px;
    }
}
/*-------------------------------- Main Section -------------------------------*/
.main {
    padding-top: 100px;
    background: url("../images/main-background.jpg") 0 0/cover no-repeat;
}
@media screen and (max-width: 1024px) {
    .main {
        padding: 200px 0 100px 0;
    }
}
@media screen and (max-width: 768px) {
    .main {
        padding: 25px 0 50px 0;
    }
}
.main::before,
.main::after {
    content: "";
    position: absolute;
    top: 100px;
    height: 100%;
    width: 1px;
    background-color: var(--bg-gray);
}
@media screen and (max-width: 768px) {
    .main::before,
    .main::after {
        display: none;
    }
}
.main::before {
    left: 20%;
}
.main::after {
    right: 20%;
}
.main__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .main__container {
        flex-direction: column;
    }
}
.main__logo {
    display: none;
    margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
    .main__logo {
        display: block;
    }
}
@media screen and (max-width: 480px) {
    .main__logo {
        margin-bottom: 15px;
    }
}
.main__logo img {
    width: 80px;
    height: 80px;
}
.main__schedule {
    flex-basis: 10%;
}
.main__schedule-text {
    margin: 0 auto;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    text-align: center;
    font-weight: 600;
    font-size: 12px;
}
@media screen and (max-width: 768px) {
    .main__schedule {
        order: 2;
        margin: 25px 0;
    }
    .main__schedule-text {
        writing-mode: horizontal-tb;
        transform: rotate(360deg);
    }
}
.main__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 80%;
}
@media screen and (max-width: 768px) {
    .main__text {
        order: 3;
    }
}
.main__note {}
.main__title {
    text-align: center;
    font-family: "Yusei Magic", serif;
    font-size: 96px;
}
@media screen and (max-width: 1280px) {
    .main__title {
        font-size: 88px;
    }
}
@media screen and (max-width: 1024px) {
    .main__title {
        font-size: 70px;
    }
}
@media screen and (max-width: 824px) {
    .main__title {
        font-size: 64px;
    }
}
@media screen and (max-width: 480px) {
    .main__title {
        font-size: 50px;
    }
}
.main__line {
    margin-bottom: 40px;
}
@media screen and (max-width: 480px) {
    .main__line {
        margin-bottom: 20px;
    }
}
.main__buttons {
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
@media screen and (max-width: 768px) {
    .main__buttons {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .main__buttons {
        width: 90%;
        flex-direction: column;
        gap: 0;
        margin: -5px 0;
    }
}
.main__button {
    flex: 0 1 50%;
    height: 60px;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .5s;
}
@media screen and (max-width: 480px) {
    .main__button {
        width: 100%;
        margin: 5px 0;
        padding: 10px 0;
    }
}
.main__button:hover {
    background-color: transparent;
}
.main__arrow {
    position: relative;
    margin-top: 50px;
    width: 60px;
    height: 60px;
    border: var(--bg-gray) 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .5s;
}
@media screen and (max-width: 480px) {
    .main__arrow {
        width: 50px;
        height: 50px;
        margin-top: 30px;
    }
}
.main__arrow:hover {
    background-color: var(--bg-gray);
}
.main__arrow::before,
.main__arrow::after {
    position: absolute;
    left: 50%;
    content: "";
    width: 1px;
    background-color: var(--bg-gray);
}
.main__arrow::before {
    top: -700%;
    height: 700%;
}
.main__arrow::after {
    bottom: -400%;
    height: 400%;
}
@media screen and (max-width: 1200px) {
    .main__arrow::before,
    .main__arrow::after {
        display: none;
    }
}
.main__arrow-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.main__arrow-icon {
    width: 20px;
    height: 20px;
    fill: var(--dark-color);
    background-color: var(--light-color);
    border-radius: 50%;
    padding: 4px;
}
.main__links {
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -15px 0;
}
.main__link {
    width: 60px;
    height: 60px;
    margin: 15px 0;
    border: var(--bg-gray) 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .5s;
}
@media screen and (max-width: 480px) {
    .main__link {
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 768px) {
    .main__links {
        order: 1;
        flex-direction: row;
        margin: 0 -10px;
    }
    .main__link {
        margin: 0 10px;
    }
}
.main__link:hover {
    background-color: var(--bg-gray);
}
.main__link-icon {
    width: 20px;
    height: 20px;
    fill: var(--light-color);
}

/*-------------------------------- About Section -------------------------------*/
.about {}
@media screen and (max-width: 1024px) {
    .about {
        padding: 100px 0;
    }
}
@media screen and (max-width: 768px) {
    .about {
        padding: 50px 0;
    }
}
@media screen and (max-width: 480px) {
    .about {
        padding: 25px 0;
    }
}
.about__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 40px;
}
@media screen and (max-width: 768px) {
    .about__container {
        flex-direction: column;
        gap: 0;
    }
}
.about__text-block {
    flex-basis: 50%;
    padding: 0 15px;
    text-align: center;
    color: var(--dark-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .about__text-block {
        padding: 0;
        margin-bottom: 30px;
    }
}
.about__title {}
.about__line {}
.about__subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
    .about__subtitle {
        font-size: 16px;
        margin-bottom: 15px;
    }
}
.about__text {}
.about__photo-block {
    position: relative;
    flex-basis: 50%;
}
@media screen and (max-width: 768px) {
    .about__photo-block {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.about__photo {}
.about__border {
    left: 62.5%;
}

/*-------------------------------- Team Section -------------------------------*/
.team {
    position: relative;
    background: url("../images/team-background.jpg") 0 0/cover no-repeat;
}
@media screen and (max-width: 1024px) {
    .team {
        padding: 25px 0 100px 0;
    }
}
@media screen and (max-width: 768px) {
    .team {
        padding: 25px 0 50px 0;
    }
}
@media screen and (max-width: 480px) {
    .team {
        padding: 25px 0;
    }
}
.team::before,
.team::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: var(--bg-gray);
}
@media screen and (max-width: 768px) {
    .team::before,
    .team::after {
        display: none;
    }
}
.team::before {
    left: 20%;
}
.team::after {
    right: 20%;
}
.team__note {
    text-align: center;
    margin-bottom: 50px;
}
@media screen and (max-width: 480px) {
    .team__note {
        margin-bottom: 30px;
    }
}
.team__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 40px;
}
@media screen and (max-width: 768px) {
    .team__container {
        flex-direction: column-reverse;
        gap: 0;
    }
}
.team__photo-block {
    flex-basis: 50%;
    position: relative;
}
.team__photo {
    margin-left: 20%;
}
.team__border {
    left: 0;
}
@media screen and (max-width: 768px) {
    .team__photo-block {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .team__photo {
        margin-left: 0;
    }
    .team__border {
        left: 12.5%;
    }
}
.team__text-block {
    flex-basis: 50%;
    padding: 0 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .team__text-block {
        padding: 0;
        margin-bottom: 30px;
    }
}
.team__title {}
.team__line {}
.team__subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
    .team__subtitle {
        font-size: 16px;
        margin-bottom: 15px;
    }
}
.team__text {}
/*-------------------------------- Book Section -------------------------------*/
.book {}
@media screen and (max-width: 1024px) {
    .book {
        padding: 100px 0 25px 0;
    }
}
@media screen and (max-width: 768px) {
    .book {
        padding: 50px 0 25px 0;
    }
}
@media screen and (max-width: 480px) {
    .book {
        padding: 25px 0;
    }
}
.book__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 40px;
}
@media screen and (max-width: 768px) {
    .book__container {
        flex-direction: column;
        gap: 0;
    }
}
.book__form-block {
    flex-basis: 50%;
    text-align: center;
    color: var(--dark-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .book__form-block {
        width: 100%;
        margin-bottom: 30px;
    }
}
.book__title {}
.book__line {}
.book__form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
@media screen and (max-width: 380px) {
    .book__form {
        display: flex;
        flex-direction: column;
    }
}
.book__input {
    background: #E5E5E5;
    border-radius: 5px;
    height: 60px;
    padding: 0 20px;
    font-size: 14px;
    color: var(--light-gray);
    width: 100%;
    box-sizing: border-box;
}
@media screen and (max-width: 380px) {
    .book__input {
        height: 40px;
        padding: 0 15px;
    }
}
.book__input::placeholder {
    font-size: 14px;
    color: var(--light-gray);
}
.book__input:focus {
    outline: 2px solid var(--main-color);
    background-color: #f9f9f9;
}
.book__button {
    grid-column: span 2;
    height: 60px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity .5s;
}
.book__button:hover {
    opacity: 90%;
}
.book__message {
    margin-top: 10px;
    text-align: center;
    font-style: italic;
    display: none;
    color: var(--dark-gray);
}
.book__photo-block {
    flex-basis: 50%;
    position: relative;
}
@media screen and (max-width: 768px) {
    .book__photo-block {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.book__photo {}
.book__border {
    left: 62.5%;
}
.book__more-info-block {
    margin-top: 50px;
}
@media screen and (max-width: 768px) {
    .book__more-info-block {
        width: 80%;
        margin: 30px auto 0 auto;
    }
}
.book__more-info {
    text-align: center;
    color: var(--light-gray);
}
/*-------------------------------- Specialties Section -------------------------------*/
.specialties {
    position: relative;
    background: url("../images/specialties-background.jpg") 0 0/cover no-repeat;
}
@media screen and (max-width: 1024px) {
    .specialties {
        padding: 25px 0;
    }
}
.specialties::before,
.specialties::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: var(--bg-gray);
}
@media screen and (max-width: 768px) {
    .specialties::before,
    .specialties::after {
        display: none;
    }
}
.specialties::before {
    left: 20%;
}
.specialties::after {
    right: 20%;
}
.specialties__note {
    text-align: center;
    margin-bottom: 50px;
}
/*----- Specialties Slider -----*/
.specialties__slider {
}
.specialties__slider .swiper-wrapper {
    width: 100vw;
    margin-bottom: 50px;
    padding: 0;
}
.specialties__slider .swiper-slide {
}
.specialties__slider .swiper-pagination {
    bottom: 0;
}
.specialties__slider .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: var(--light-color);
}
.specialties__content  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 40px;
}
@media screen and (max-width: 768px) {
    .specialties__content {
        flex-direction: column;
        gap: 0;
    }
}
.specialties__photo-block {
    flex: 0 1 50%;
    position: relative;
}
@media screen and (max-width: 768px) {
    .specialties__photo-block {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        padding: 0 15px;
    }
}
.specialties__photo {
    margin-left: 20%;
}
@media screen and (max-width: 768px) {
    .specialties__photo {
        margin-left: 0;
    }
}
.specialties__border {
    left: 0;
}
@media screen and (max-width: 768px) {
    .specialties__border {
        left: 12.5%;
    }
}
.specialties__text-block {
    flex: 0 1 50%;
    padding: 0 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.specialties__title {}
.specialties__line {}
.specialties__subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
    .specialties__subtitle {
        font-size: 16px;
        margin-bottom: 15px;
    }
}
.specialties__text {}

/*-------------------------------- Menu Section -------------------------------*/
.menu {}
@media screen and (max-width: 768px) {
    .menu {
        padding: 50px 0;
    }
}
@media screen and (max-width: 480px) {
    .menu {
        padding: 25px 0;
    }
}
.menu__container {
    display: flex;
    flex-direction: column;
    color: var(--dark-color);
    align-items: center;
}
.menu__title {}
.menu__line {}
.menu__subtitle {
    width: 55%;
    font-size: 18px;
    font-weight: bold;
    margin: 10px auto;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .menu__subtitle {
        font-size: 16px;
        width: 100%;
    }
}
.menu__nav {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 50px 0;
}
.menu__nav-item {
    color: var(--dark-gray);
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color .5s;
}
@media screen and (max-width: 480px) {
    .menu__nav {
        display: flex;
        justify-content: space-between;
        margin: 25px 0;
    }
    .menu__nav-item {
        font-size: 11px;
        height: 30px;
    }
}
.menu__nav-item:not(:last-child) {
   padding-right: 30px;
   border-right: solid 1px var(--light-gray);
}
.menu__nav-item:not(:first-child) {
    padding-left: 30px;
}
@media screen and (max-width: 768px) {
    .menu__nav-item:not(:last-child) {
        padding-right: 15px;
    }
    .menu__nav-item:not(:first-child) {
        padding-left: 15px;
    }
}
@media screen and (max-width: 480px) {
    .menu__nav-item:not(:last-child) {
        padding-right: 5px;
    }
    .menu__nav-item:not(:first-child) {
        padding-left: 5px;
    }
}
.menu__nav-item:hover {
    color: var(--main-color);
}
.menu__nav-item.active {
    color: var(--main-color);
}
.menu__list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 70px;
    justify-items: stretch;
}
@media screen and (max-width: 1024px) {
    .menu__list {
        grid-template-columns: 1fr 1fr;
        gap: 10px 70px;
    }
}
@media screen and (max-width: 768px) {
    .menu__list {
        display: flex;
        flex-direction: column;
        padding: 0 10%;
    }
}
.menu__item {}
.menu__main-info {
    display: flex;
    justify-content: space-between;
    font-family: "Yusei Magic", serif;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--dark-gray);
}
@media screen and (max-width: 768px) {
    .menu__main-info {
        font-size: 16px;
    }
}
@media screen and (max-width: 480px) {
    .menu__main-info {
        font-size: 13px;
    }
}
.menu__title {}
.menu__price {}
.menu__description {
    color: var(--light-gray);
    font-size: 12px;
}

/*-------------------------------- Events Section -------------------------------*/
.events {
    position: relative;
    background: url("../images/events-background.jpg") 0 0/cover no-repeat;
}
@media screen and (max-width: 1024px) {
    .events {
        padding: 25px 0;
    }
}
.events::before,
.events::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: var(--bg-gray);
}
@media screen and (max-width: 768px) {
    .events::before,
    .events::after {
        display: none;
    }
}
.events::before {
    left: 20%;
}
.events::after {
    right: 20%;
}
.events__note {
    text-align: center;
    margin-bottom: 50px;
}
.events__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 40px;
}
@media screen and (max-width: 768px) {
    .events__container {
        flex-direction: column;
        gap: 0;
    }
}
.events__photo-block {
    flex-basis: 50%;
    position: relative;
    z-index: 1;
}
@media screen and (max-width: 768px) {
    .events__photo-block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: auto;
    }
}
.wedding {}
@media screen and (max-width: 768px) {
    .wedding {
        margin-bottom: 30px;
    }
}
.corporate__photo {
}
.wedding__photo {
    margin-left: 20%;

}
@media screen and (max-width: 768px) {
    .wedding__photo {
        margin-left: 0;
    }
}
.wedding__border {
    left: 0;
}
.corporate__border {
    right: 0;
}
@media screen and (max-width: 768px) {
    .wedding__border {
        left: 12.5%;
    }
    .corporate__border {
        left: 62.5%;
    }
}
.wedding__title,
.corporate__title {
    background-color: var(--dark-color);
    width: 15%;
    height: 100%;
    writing-mode: vertical-lr;
    font-family: "Yusei Magic", serif;
    font-size: 24px;
    color: var(--light-color);
    display: flex;
    align-items: center;
    padding-top: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
@media screen and (max-width: 768px) {
    .wedding__title,
    .corporate__title {
        width: 10%;
        font-size: 20px;
        padding-top: 15px;
    }
}
.wedding__title {
    position: absolute;
    right: 0;
    top: 0;
}
@media screen and (max-width: 768px) {
    .wedding__title {
        right: 25%;
    }
}
@media screen and (max-width: 480px) {
    .wedding__title {
        right: 0;
    }
}
.corporate__title {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-180deg);
}
@media screen and (max-width: 768px) {
    .corporate__title {
        left: 25%;
    }
}
@media screen and (max-width: 480px) {
    .corporate__title {
        left: 0;
    }
}
.events__more-info-block {
    margin-top: 50px;
}
@media screen and (max-width: 768px) {
    .events__more-info-block {
        width: 80%;
        margin: 30px auto 0 auto;
    }
}
.events__more-info {
    text-align: center;
    color: var(--light-color);
    opacity: 50%;
}
/*-------------------------------- Gallery Section -------------------------------*/
.gallery {
    display: flex;
    justify-content: space-between;
}
.gallery__photo-block {
    flex-basis: 25%;
}
@media screen and (max-width: 768px) {
    .gallery {
        flex-wrap: wrap;
    }
    .gallery__photo-block {
        flex-basis: 50%;
    }
}
.gallery__photo {
    max-width: 100%;
    height: 100%;
    cursor: pointer;
    transition: opacity .2s;
}
.gallery__photo:hover {
    opacity: 0.9;
}
.gallery__modal {}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}
.modal__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    animation-name: zoom;
    animation-duration: 0.6s;
}
.modal__image {
    width: 35%;
}
@media screen and (max-width: 1024px) {
    .modal__image {
        width: 45%;
    }
}
@media screen and (max-width: 768px) {
    .modal__image {
        width: 55%;
    }
}
@media screen and (max-width: 480px) {
    .modal__image {
        width: 65%;
    }
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
.modal__close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: all 0.3s;
}
.modal__close:hover,
.modal__close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*-------------------------------- Contact Section -------------------------------*/
.contact {
    padding: 100px 0;
}
@media screen and (max-width: 768px) {
    .contact {
        padding: 50px 0;
    }
}
@media screen and (max-width: 480px) {
    .contact {
        padding: 25px 0;
    }
}
.contact__container {
    display: flex;
    flex-direction: column;
    color: var(--dark-color);
    align-items: center;
}
.contact__title {}
.contact__line {}
.contact__subtitle {
    width: 55%;
    font-size: 18px;
    font-weight: bold;
    margin: 10px auto;
    text-align: center;
}
@media screen and (max-width: 1024px) {
    .contact__subtitle {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .contact__subtitle {
        font-size: 16px;
    }
}
.contact__form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "inputs inputs"
        "textarea textarea"
        "items button";
    gap: 10px 20px;
}
@media screen and (max-width: 480px) {
    .contact__form {
        grid-template-columns: 1fr;
        grid-template-areas:
        "inputs"
        "textarea"
        "button"
        "items";
        gap: 10px 0;
    }
}
.contact__inputs {
    grid-area: inputs;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
@media screen and (max-width: 480px) {
    .contact__inputs {
        flex-direction: column;
    }
}
.contact__input {
    background: #E5E5E5;
    border-radius: 5px;
    height: 60px;
    padding: 0 20px;
    font-size: 14px;
    color: var(--light-gray);
    width: 100%;
    box-sizing: border-box;
}
@media screen and (max-width: 480px) {
    .contact__input {
        height: 40px;
        padding: 0 10px;
    }
}
.contact__textarea {
    grid-area: textarea;
    resize: none;
    background: #E5E5E5;
    border-radius: 5px;
    height: 120px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
.contact__input::placeholder,
.contact__textarea::placeholder {
    font-size: 14px;
    color: var(--light-gray);
    font-family: 'Open Sans', sans-serif;
}
.contact__input:focus,
.contact__textarea:focus {
    outline: 2px solid var(--main-color);
    background-color: #f9f9f9;
}
.contact__items {
    grid-area: items;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .contact__items {
        justify-content: center;
        flex-wrap: wrap;
    }
}
.contact__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact__icon {
    width: 20px;
    height: 20px;
    fill: var(--main-color);
    margin: 0 10px;
}
.contact__link {
    font-size: 12px;
    color: var(--light-gray);
    font-weight: bold;
}
@media screen and (max-width: 1024px) {
    .contact__icon {
        width: 10px;
        height: 10px;
    }
    .contact__link {
        font-size: 9px;
    }
}
.contact__button {
    grid-area: button;
    height: 60px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: opacity .5s;
}
.contact__button:hover {
    opacity: 90%;
}
/*-------------------------------- Map Section -------------------------------*/
.map {
    height: 400px;
}
/*-------------------------------- Footer -------------------------------*/
.footer__container {}
.footer__copyright {
    text-align: center;
    font-size: 14px;
    color: var(--bg-gray);
}
.footer__copyright .bold {
    font-weight: bold;
}